.formation__item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 160px black;
    display: flex;
    flex-direction: column;
    height: 235px;
    margin: 4rem 1.5rem;
    width: 290px;
    padding: 15px 5px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.formation__item:hover {
    height: 390px;
}