.formation__item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 202px black;
    display: flex;
    flex-direction: column;
    height: 215px;
    margin: 30px 10px;
    max-width: 300px;
    padding: 20px 15px;
    position: relative;
    transition: 0.3s ease-in-out;
}