#experience {
    align-items: center;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem;
    width: 100vw;
}

.experience__container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 1136px;
}