#formation {
    align-items: center;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.formation__height {
    height: 34rem;
}