.formation {
    background: #16384c;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.formation__height {
    height: 34rem;
}