header {
/*
    position: fixed;
    top: 0;
    left: 0;
*/
    align-items: center;
    background: #F5F5F5;
    display: flex;
    height: 88px;
    justify-content: center;
    width: 100vw;
}

.header__container {
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    width: 1136px;
}

.my__name {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
}

.my__name:hover {
    transform: scale(1.1);
}

.space {
    width: .5rem;
}

