#skills {
    background: #F5F5F5;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center;
    width: 100vw;
}

.skills__container {
    display: flex;
    height: 15.25rem;
    flex-direction: column;
    justify-content: space-around;
    width: 1136px;
}