.experience__item-right {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience__item-left {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}