.experience__image {
    background-image: url("../../image/games_senai.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 0 .5rem black;
    height: 450px;
    margin: 2.5rem 0;
    width: 750px;
}