.experience__image-01 {
    background-image: url("../../image/criptografia.jpeg");
}

.experience__image-02 {
    background-image: url("../../image/forca.jpeg");
}

.experience__image-03 {
    background-image: url("../../image/games_senai.jpeg");
}

.experience__image-01,
.experience__image-02,
.experience__image-03 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem #141E27;
    height: 400px;
    margin: 2.5rem 0;
    width: 650px;
}